{% extends 'base.html' %}
{% block content %}
  <!-- Begin Site Title
================================================== -->
	<div class="container">
		<div class="mainheading">
			<h1 class="sitetitle">HMBlogs</h1>
			<p class="lead">
				Here are some technology blogs for geeks.
			</p>
		</div>
		<!-- End Site Title
================================================== -->

		<!-- Begin Featured
	================================================== -->
		<section class="featured-posts">
			<div class="section-title">
				<h2><span>Posts</span></h2>
			</div>
			<div class="card-columns listfeaturedtag">
        {% for article in articles %}
				<!-- begin post -->
				<div class="card">
					<div class="row">
						<div class="col-md-5 wrapthumbnail">
							<a href="{{ article.get_absolute_url }}">
								<div class="thumbnail" style="background-image:url('{{ article.image.url }}')">
								</div>
							</a>
						</div>
						<div class="col-md-7">
							<div class="card-block">
								<h2 class="card-title"><a href="{{ article.get_absolute_url }}">{{article.title}}</a></h2>
								<h4 class="card-text">{{article.content|truncatewords:20}}</h4>
								<div class="metafooter">
									<div class="wrapfooter">
										<span class="meta-footer-thumb">
											<img class="author-thumb"
													src="https://www.gravatar.com/avatar/e56154546cf4be74e393c62d1ae9f9d4?s=250&amp;d=mm&amp;r=x"
													alt="Sal">
										</span>
										<span class="author-meta">
											<span class="post-name">{{article.author}}</span><br />
											<span class="post-date">{{article.created_at|timesince}} past.</span><span
												class="post-read"></span>
										</span>
										<span class="post-read-more"><a href="post.html" title="Read Story"><svg
													class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25">
												</svg></a></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end post -->
        {% endfor %}

			</div>
		</section>
		<!-- End Featured
	================================================== -->
{% endblock content %}