{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'assets/img/favicon.ico' %}">
    <title>HMBlogs</title>
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="{% static 'assets/css/mediumish.css' %}" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="{% static 'assets/img/logo.png' %}" alt="logo" width="70 height="50">
            </a>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                </form>
            </div>
        </div>
    </nav>

    <div class="container" style="margin-top: 80px;"> 
        {% block content %}
        {% endblock content %}
    </div>

    <div class="container">
        <div class="footer">
            <p class="pull-left">Copyright &copy; 2026 HMBlogs</p>
            <p class="pull-right">
                This weblog was written by <a target="_blank" href="https://github.com/HoomanMoradnia">Hooman Moradnia</a>
            </p>
            <div class="clearfix"></div>
        </div>
    </div>

    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/ie10-viewport-bug-workaround.js' %}"></script>
</body>
</html>